<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Buttons</title>
</head>
<body>
  <h2>主按钮</h2>

    <!-- Codepen START -->
    <p data-height="300" data-theme-id="2594" data-slug-hash="NdmPRW" data-default-tab="css,result" data-user="fengxueyijiu" data-embed-version="2" data-pen-title="NdmPRW" class="codepen">See the Pen <a href="https://codepen.io/fengxueyijiu/pen/NdmPRW/">NdmPRW</a> by Strom Wu (<a href="http://codepen.io/fengxueyijiu">@fengxueyijiu</a>) on <a href="http://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
  <!-- Codepen END -->

</body>
</html>
