<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>common</title>
</head>
<body>
  <h2>Clearfix</h2>

  <p data-height="265" data-theme-id="dark" data-slug-hash="jyJWqq" data-default-tab="css,result" data-user="happypeter" data-embed-version="2" data-pen-title="jyJWqq" class="codepen">See the Pen <a href="http://codepen.io/happypeter/pen/jyJWqq/">jyJWqq</a> by Peter Wang (<a href="http://codepen.io/happypeter">@happypeter</a>) on <a href="http://codepen.io">CodePen</a>.</p>
  <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>


  <h2>Box-Sizing 设置</h2>



  <p data-height="265" data-theme-id="dark" data-slug-hash="vgPLGb" data-default-tab="css,result" data-user="happypeter" data-embed-version="2" data-pen-title="vgPLGb" class="codepen">See the Pen <a href="http://codepen.io/happypeter/pen/vgPLGb/">vgPLGb</a> by Peter Wang (<a href="http://codepen.io/happypeter">@happypeter</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>


</body>
</html>
